.device {
  .el-row {
    margin-top: 20px;
  }
  .search {
    margin-top: 20px;
    > span {
      font-size: 16px;
      line-height: 40px;
    }
    .el-input {
      width: 30%;
      margin-right: 10px;
    }
  }
  .search-num {
    font-size: 16px;
    line-height: 40px;
    span {
      color: #ff3344;
    }
  }
  .pagination {
    margin-top: 10px;
  }

  // addDevice（添加设备）样式
  .add-device {
    .el-form-item {
      margin-top: 22px;
    }
    max-height: 68vh;
    overflow-y: scroll;
    overflow-x: hidden;
    .title {
      span {
        line-height: 40px;
      }
    }
    .item {
      margin-top: 20px;
      font-size: 16px;
      > span {
        text-align: center;
        display: inline-block;
        text-align: center;
        width: 150px;
        margin-right: 20px;
      }
    }
    .notification {
      margin-top: 20px;
      line-height: 40px;
      .el-form-item {
        margin-top: 0px;
      }
    }
  }

  // ConfigDevice（配置设备）样式
  .config-device {
    .el-form-item {
      margin-top: 22px;
    }
    max-height: 68vh;
    overflow-y: scroll;
    overflow-x: hidden;
    .title {
      font-size: 16px;
      font-weight: bold;
    }
    .item {
      margin-top: 20px;
      font-size: 16px;
      > span {
        text-align: center;
        display: inline-block;
        width: 150px;
        margin-right: 20px;
      }
    }
    .notification {
      margin-top: 20px;
      line-height: 40px;
      .el-form-item {
        margin-top: 0px;
      }
    }
  }
}
